In [1]:
#Q1
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

In [2]:
#Q2
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

In [3]:
#Q3
set1.update([100,'a','$',"apple"])
set1

{'$', 100, 'a', 'apple', 'b', 'c'}

In [4]:
#Q4
x=len(set1)
x

6

In [5]:
#Q5
set1.remove(100)
set1

{'$', 'a', 'apple', 'b', 'c'}

In [6]:
#Q6
p=set1.pop()
p

'b'

In [7]:
#Q7
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

In [8]:
#Q8
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [9]:
#Q9
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [10]:
#Q10
set1.clear()
set1

set()

In [11]:
#Q11
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
print(z)

True

In [12]:
#Q11
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)
print(z)

True

In [13]:
#Q12
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
print(z)

{'banana', 'cherry'}

In [14]:
#Q13
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'banana', 'cherry'}