In [ ]:
#Q1

In [7]:
#Q2
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [35]:
#Q3

my_dict = {}


my_dict = {1: 'apple', 2: 'ball'}


my_dict = {'name': 'John', 1: [2, 4, 3]}


my_dict = dict({1:'apple', 2:'ball'})


my_dict = dict([(1,'apple'), (2,'ball')])

In [11]:
#Q4
my_dict = {"one": 1,"two":2,"three":3,"four":4}

for item in my_dict:
    print("Key : {} , Value : {}".format(item,my_dict[item]))

Key : one , Value : 1
Key : two , Value : 2
Key : three , Value : 3
Key : four , Value : 4

In [12]:
#Q5
dict1={1001:"bharti",1002:"shailja",1003:"Ram"}
del dict1[1001]
print(dict1.items())

dict_items([(1002, 'shailja'), (1003, 'Ram')])

In [ ]:
#Q6
d.clear()

In [18]:
#Q7
a_dictionary = {"a": 1, "b": 2}

for pair in a_dictionary.items():


    print(pair)

('a', 1)
('b', 2)

In [21]:
#Q8
dict1={1001:"abc",1002:"def",1003:"ghi"}
for key,value in dict1.items():
    print(key,value)
if 1001 in dict1:
    print("1001")
else:
    print("not valid")

1001 abc
1002 def
1003 ghi
1001

In [22]:
#Q9
dict1[1001]="x"
print(dict1)

{1001: 'x', 1002: 'def', 1003: 'ghi'}

In [24]:
#Q10
CountryCodeDict = {"India": 91, "UK" : 44 , "USA" : 1}
print(CountryCodeDict)
CountryCodeDict["Spain"]= 34
print ("After adding")
print(CountryCodeDict)

{'India': 91, 'UK': 44, 'USA': 1}
After adding
{'India': 91, 'UK': 44, 'USA': 1, 'Spain': 34}

In [26]:
#Q11 
dic={}

for i in range(1,10):
    dic[i] = i**2

print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
#Q12
dict1={"a":1}
dict2={1:"abc"}
dict3={"a":16,2:"def"}
dict4={"c":17}
dict33={"A":1,1:"ABC",5:{"A":16,2:"DEF"},"c":17}
print(dict33)

{'A': 1, 1: 'ABC', 5: {'A': 16, 2: 'DEF'}, 'c': 17}

In [28]:
#Q13
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [29]:
#Q14
dict1={}
for key in range(1,11):
    dict1[key]=key*key
    print(dict1)
sum(dict1)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

55

In [30]:
#Q15
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

John
27
Male

In [31]:
#Q16
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [34]:
#Q17
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)